[submodule "framework-event"]
	path = ./framework-event
	url = https://github.com/Bryasxin/framework-event.git

[submodule "framework-core"]
	path = ./framework-core
	url = https://github.com/Bryasxin/framework-core.git
